python/src/openfloor/__pycache__/*
openfloor.egg-info/*
dist/*
openfloor.egg-info/PKG-INFO
python/src/openfloor.egg-info/SOURCES.txt
python/src/openfloor.egg-info/top_level.txt
python/src/openfloor.egg-info/requires.txt
python/src/openfloor.egg-info/PKG-INFO
python/src/openfloor.egg-info/dependency_links.txt
/python/src/sphinx_docs/_build/
/python/src/sphinx_docs/build/
